In [1]:
from time import sleep
import pandas as pd

In [2]:
df = pd.read_csv("cow_data.csv")

In [3]:
df.columns[1:8]

Index(['性別', '父牛', '母の父', '母の祖父', '母の祖祖父', '日令', '体重'], dtype='object')

In [4]:
columns=df.columns[1:9]
df=df.iloc[0:len(df),[1,2,3,4,5,6,7,8]]
df.columns=columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28231 entries, 0 to 28230
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   性別      28231 non-null  object
 1   父牛      28231 non-null  object
 2   母の父     28231 non-null  object
 3   母の祖父    28231 non-null  object
 4   母の祖祖父   28231 non-null  object
 5   日令      28231 non-null  int64
 6   体重      28231 non-null  int64
 7   価格      28231 non-null  int64
dtypes: int64(3), object(5)
memory usage: 1.7+ MB

In [6]:
df_dummied = pd.get_dummies(df)
df_dummied

,日令,体重,価格,性別_去勢,性別_雄,性別_雌,父牛_久富福,父牛_久晴茂,父牛_久百合,父牛_久福久,...,母の祖祖父_雲仙丸,母の祖祖父_頼山,母の祖祖父_飛騨白清,母の祖祖父_高栄,母の祖祖父_高森,母の祖祖父_高竜,母の祖祖父_鶴長,母の祖祖父_鶴１６５の９,母の祖祖父_鹿秀土井,母の祖祖父_２１世紀
0,292,276,618200,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,286,293,782100,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,297,305,697400,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,297,258,676500,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,297,301,712800,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28226,294,314,748000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28227,290,318,806300,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28228,259,309,871200,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28229,293,353,875600,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28230,288,254,689700,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb

In [8]:
X = df_dummied.drop(columns = ['価格'])
y = df_dummied['価格']

train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, random_state=42
)

In [9]:
dtrain = xgb.DMatrix(train_X, train_y)
dvalid = xgb.DMatrix(test_X, test_y)
params = {
    "objective" : "reg:squarederror",
    "eval_metric" : "rmse"
}

model = xgb.train(
    params = params,
    dtrain = dtrain,
    evals = [(dtrain, "train"), (dvalid, "valid")],
    num_boost_round = 100
)

pred = model.predict(xgb.DMatrix(test_X))

[0]	train-rmse:528094.51203	valid-rmse:529920.99056
[1]	train-rmse:378860.01786	valid-rmse:381076.97973
[2]	train-rmse:277045.37121	valid-rmse:279668.83490
[3]	train-rmse:209191.72429	valid-rmse:212354.26827
[4]	train-rmse:165607.34784	valid-rmse:169806.68272
[5]	train-rmse:139005.22451	valid-rmse:144312.00427
[6]	train-rmse:123171.10401	valid-rmse:129508.31561
[7]	train-rmse:114290.37664	valid-rmse:121432.37966
[8]	train-rmse:109382.51483	valid-rmse:117171.09307
[9]	train-rmse:106466.44368	valid-rmse:114857.12819
[10]	train-rmse:104736.26766	valid-rmse:113498.13258
[11]	train-rmse:103677.97118	valid-rmse:112777.66148
[12]	train-rmse:102940.93485	valid-rmse:112235.74353
[13]	train-rmse:102500.13641	valid-rmse:112008.58159
[14]	train-rmse:101949.60277	valid-rmse:111758.38538
[15]	train-rmse:101454.52160	valid-rmse:111565.36749
[16]	train-rmse:100677.38873	valid-rmse:110716.98672
[17]	train-rmse:100352.63746	valid-rmse:110436.99330
[18]	train-rmse:100061.99636	valid-rmse:110286.08557
[19]	train-rmse:99860.88763	valid-rmse:110215.39599
[20]	train-rmse:99584.78066	valid-rmse:110173.59923
[21]	train-rmse:99311.76523	valid-rmse:110174.05522
[22]	train-rmse:99029.53084	valid-rmse:110115.21701
[23]	train-rmse:98692.50956	valid-rmse:110034.95054
[24]	train-rmse:98444.78736	valid-rmse:109922.45280
[25]	train-rmse:98343.81199	valid-rmse:109899.33088
[26]	train-rmse:98078.61536	valid-rmse:109762.86105
[27]	train-rmse:97981.32056	valid-rmse:109726.94942
[28]	train-rmse:97789.33081	valid-rmse:109745.11886
[29]	train-rmse:97681.80033	valid-rmse:109715.43868
[30]	train-rmse:97505.58107	valid-rmse:109672.97478
[31]	train-rmse:97346.74240	valid-rmse:109619.40164
[32]	train-rmse:97222.12109	valid-rmse:109580.63452
[33]	train-rmse:97088.70351	valid-rmse:109557.03418
[34]	train-rmse:96443.61502	valid-rmse:109185.23058
[35]	train-rmse:96271.22660	valid-rmse:109125.49548
[36]	train-rmse:96088.72820	valid-rmse:109106.43557
[37]	train-rmse:96034.32427	valid-rmse:109114.89421
[38]	train-rmse:95952.33440	valid-rmse:109083.73154
[39]	train-rmse:95814.26665	valid-rmse:109080.59372
[40]	train-rmse:95730.87770	valid-rmse:109095.81689
[41]	train-rmse:95612.21356	valid-rmse:109094.84204
[42]	train-rmse:95528.44793	valid-rmse:109077.83516
[43]	train-rmse:95435.99181	valid-rmse:109085.82078
[44]	train-rmse:95328.16081	valid-rmse:109072.53185
[45]	train-rmse:95162.14668	valid-rmse:109103.42406
[46]	train-rmse:95115.87649	valid-rmse:109103.46913
[47]	train-rmse:95050.69916	valid-rmse:109087.98878
[48]	train-rmse:94951.18754	valid-rmse:109076.99302
[49]	train-rmse:94859.56887	valid-rmse:109093.52409
[50]	train-rmse:94768.11496	valid-rmse:109092.04722
[51]	train-rmse:94726.33989	valid-rmse:109091.13543
[52]	train-rmse:94609.00552	valid-rmse:109079.52190
[53]	train-rmse:94566.01643	valid-rmse:109061.61425
[54]	train-rmse:94523.31163	valid-rmse:109049.27963
[55]	train-rmse:94268.15838	valid-rmse:109065.27668
[56]	train-rmse:94193.01849	valid-rmse:109070.16616
[57]	train-rmse:94133.67186	valid-rmse:109081.95207
[58]	train-rmse:94057.96648	valid-rmse:109106.48744
[59]	train-rmse:94009.89223	valid-rmse:109098.38677
[60]	train-rmse:93826.29746	valid-rmse:109098.46275
[61]	train-rmse:93695.77669	valid-rmse:109139.66753
[62]	train-rmse:93621.12623	valid-rmse:109155.52998
[63]	train-rmse:93595.88838	valid-rmse:109137.96665
[64]	train-rmse:93569.23291	valid-rmse:109139.51473
[65]	train-rmse:93519.37530	valid-rmse:109146.15534
[66]	train-rmse:93493.60363	valid-rmse:109140.07138
[67]	train-rmse:93455.95016	valid-rmse:109152.17921
[68]	train-rmse:93321.85277	valid-rmse:109123.09169
[69]	train-rmse:93292.09212	valid-rmse:109126.42802
[70]	train-rmse:93269.98913	valid-rmse:109124.09025
[71]	train-rmse:93243.94068	valid-rmse:109134.29041
[72]	train-rmse:93200.31866	valid-rmse:109135.72513
[73]	train-rmse:93178.06800	valid-rmse:109134.07206
[74]	train-rmse:93151.94694	valid-rmse:109123.12686
[75]	train-rmse:93039.62430	valid-rmse:109136.34001
[76]	train-rmse:92927.61048	valid-rmse:109129.80419
[77]	train-rmse:92806.28465	valid-rmse:109132.25333
[78]	train-rmse:92754.92350	valid-rmse:109123.40740
[79]	train-rmse:92731.64668	valid-rmse:109089.81584
[80]	train-rmse:92690.66077	valid-rmse:109094.76770
[81]	train-rmse:92606.69493	valid-rmse:109084.47598
[82]	train-rmse:92581.18070	valid-rmse:109096.02551
[83]	train-rmse:92558.30765	valid-rmse:109097.16068
[84]	train-rmse:92498.10410	valid-rmse:109084.56542
[85]	train-rmse:92358.47927	valid-rmse:109081.18775
[86]	train-rmse:92286.89813	valid-rmse:109090.27982
[87]	train-rmse:92271.71587	valid-rmse:109086.09667
[88]	train-rmse:92178.43985	valid-rmse:109107.79842
[89]	train-rmse:92102.15336	valid-rmse:109128.35187
[90]	train-rmse:92072.39830	valid-rmse:109130.57527
[91]	train-rmse:92008.50661	valid-rmse:109118.46017
[92]	train-rmse:91982.28033	valid-rmse:109115.98289
[93]	train-rmse:91948.14140	valid-rmse:109104.77384
[94]	train-rmse:91883.50034	valid-rmse:109093.25852
[95]	train-rmse:91869.20144	valid-rmse:109099.62359
[96]	train-rmse:91778.66465	valid-rmse:109100.66764
[97]	train-rmse:91761.20369	valid-rmse:109075.91239
[98]	train-rmse:91715.28754	valid-rmse:109107.66653
[99]	train-rmse:91656.83046	valid-rmse:109078.52518

In [10]:
df.head()

   性別   父牛    母の父  母の祖父 母の祖祖父   日令   体重      価格
0  去勢  愛之国  安福（岐）   平茂勝    金幸  292  276  618200
1  去勢  愛之国    安福久   平茂勝    安平  286  293  782100
2   雌  愛之国    華春福   安福久   忠茂勝  297  305  697400
3   雌  愛之国    美国桜  美津照重   勝平正  297  258  676500
4  去勢  愛之国   百合勝安   安福勝   寿恵福  297  301  712800

In [13]:
import joblib
joblib.dump(model, "cow.pkl", compress=True)

['cow.pkl']

In [16]:
sex = input("性別を入力してください:")
father = input("1代祖を入力してください:")
gland = input("2代祖を入力してください:")
gege = input("3代祖を入力してください:")
got = input("4代祖を入力してください:")
age = input("日齢を入力してください:")
wight = input("体重を入力してください:")
 
df1 = pd.DataFrame(
    data={
            "性別": [sex],
            "父牛": [father],
            "母の父": [gland],
            "母の祖父": [gege],
            "母の祖祖父": [got],
            "日令": [age],
            "体重": [wight],
            "価格":1
        }
    )
# df = df.append({'性別': sex, '父牛': father, '母の父': gland, '母の祖父': gege, '母の祖祖父': got, '日令': age, '体重': wight, '価格': 1}, ignore_index=True)

性別を入力してください: 去勢
1代祖を入力してください: 愛之国
2代祖を入力してください: 美国桜
3代祖を入力してください: 美津照重
4代祖を入力してください: 勝平正
日齢を入力してください: 300
体重を入力してください: 300

In [17]:
df.tail()

   性別   父牛  母の父  母の祖父 母の祖祖父   日令   体重  価格
0  去勢  愛之国  美国桜  美津照重   勝平正  300  300   1

In [18]:
df.columns[5:9]

Index(['日令', '体重', '価格'], dtype='object')

In [19]:
def price_predict(df):
    column = df.columns[5:9]

    for col in column:
        df[col] = df[col].astype('int')

    df_dummied = pd.get_dummies(df)

    e = df_dummied.tail(1)

    a = e.drop(columns = ['価格'])
    b = e['価格']
    d = model.predict(xgb.DMatrix(a)) 
    df = df[:-1]
    return int(d),df

In [20]:
price_predict(df)[0]

UnboundLocalError: local variable 'df1' referenced before assignment

In [89]:
df = price_predict(df)[1]

In [90]:
df.tail()

       性別   父牛   母の父   母の祖父  母の祖祖父   日令   体重      価格
28226   雌  諒太郎    福栄    平茂勝     安平  294  314  748000
28227   雌  諒太郎   福之国  福桜（宮）     安平  290  318  806300
28228  去勢  諒太郎   平茂晴    安糸福  北国７の８  259  309  871200
28229  去勢  諒太郎   隆之国    安福久    平茂勝  293  353  875600
28230   雌   鈴音  美津照重   第１花国    紋次郎  288  254  689700